%div.ud-pagetitle.uk-container.uk-container-center
	%h1.ud-pagetitle
		#{@thread.title}
%div.ud-mainpage-bg.uk-container.uk-container-center
	=haml :'tmpl/breadcrumbs'
	- @thread.posts.each do |p|
		%div.ud-post{id: p.html_id, class: p.html_classes}
			%div.ud-mainpage
				%table
					%tr
						%td.ud-post-info.uk-hidden-small
							%div.uk-text-center
								%a{:href => p.author.url}
								%img.ud-avatar-100px{:src => p.author.gravatar_url}
							%div.uk-text-center
								%a{:href => p.author.url}
									- if p.author.has_role? "topdog"
										%img.ud-rank{'src' => '/img/rank-ico/td-ico.png', 'alt' => 'TD', 'data-uk-tooltip' => true, :title => 'Top Dog'}

									- elsif p.author.has_role? "watchdog"
										%img.ud-rank{'src' => '/img/rank-ico/wd-ico.png', 'alt' => 'WD', 'data-uk-tooltip' => true, :title => 'Watch Dog'}

									- else
										%img.ud-rank{'src' => '/img/rank-ico/ud-ico.png', 'alt' => 'UD', 'data-uk-tooltip' => true, :title => 'Underdog'}

									- if p.author.has_role? "admin"
										%img.ud-rank{'src' => '/img/rank-ico/sa-ico.png', 'alt' => 'SA', 'data-uk-tooltip' => true, :title => 'Server Administrator'}

									#{p.author}
						%td.ud-post-content
							= p.content.to_html

			%div.uk-clearfix.ud-post-bar
				%div.ud-post-bar-left.uk-float-left
					%a.ud-post-bar-link{ :href => p.url }
						%i.uk-icon-link
					By #{p.author} on #{p.posted_at}.
				%div.ud-post-bar-right.uk-float-right
					%a.uk-button{ :href => "#{p.url}/edit" }
						Edit Post
					- if authorize :moderate_forum
						%div.uk-button-dropdown{'data-uk-dropdown' => true}
							%div.uk-button.uk-button-danger
								Moderate
								%i.uk-icon-caret-down
							%div.uk-dropdown
								%ul.uk-nav.uk-nav-dropdown
									%li
										%a{:href => '#'}
											Poster IP Address
									%li
										%a{:href => '#'}
											User Settings
									%li.uk-nav-header
										Editing
									%li
										%a{:href => '#'}
											Delete Post and Thread
									%li
										%a{:href => '#'}
											Sticky Thread
									%li
										%a{:href => '#'}
											Change Post Author
	%a.uk-button.uk-button-large.uk-button-primary.uk-width-1-1.ud-load-more-spacing{:href => '#'}
		Load More
